################################################################################
# bind -p
# show current bindings
# bind -l
# list all functions that can be bound
################################################################################

set blink-matching-paren on
set completion-ignore-case on
set completion-map-case on
set completion-query-items 30
set editing-mode vi
set show-all-if-ambiguous on
set visible-stats on

# need to set up/down arrows to search in both modes
set keymap vi-command
"\e[A": history-search-backward
"\e[B": history-search-forward
set keymap vi-insert
"\e[A": history-search-backward
"\e[B": history-search-forward

TAB: menu-complete
